registry=https://registry.npmjs.org/
@albertsons:registry=https://artifactory.albertsons.com/artifactory/api/npm/npm-albertsons-local/
@albertsons-authn:registry=https://artifactory.albertsons.com/artifactory/api/npm/npm-albertsons-local/
@albertsons-react-rbac:registry=https://artifactory.albertsons.com/artifactory/api/npm/npm-albertsons-local/
albertsons-react-rbac:registry=https://artifactory.albertsons.com/artifactory/api/npm/npm-albertsons-local/


email = gtrub00@safeway.com
always-auth = true